<%= form_with(model: stunning_view, local: true) do |form| %>
  <% if stunning_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stunning_view.errors.count, "error") %> prohibited this stunning view from being saved:</h2>
      <ul>
        <% stunning_view.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <label class="control-label">Overlooking:</label>
    <%= form.label :city, class: "radio-inline" %><%= form.radio_button :overlooking, :city %>
    <%= form.label :downtown, class: "radio-inline" %><%= form.radio_button :overlooking, :downtown %>
    <%= form.label :skyline, class: "radio-inline" %><%= form.radio_button :overlooking, :skyline %>
    <%= form.label :water, class: "radio-inline" %><%= form.radio_button :overlooking, :water %>
    <%= form.label :countryside, class: "radio-inline" %><%= form.radio_button :overlooking, :countryside %>
    <%= form.label :airport, class: "radio-inline" %><%= form.radio_button :overlooking, :airport %>
    <%= form.label :monument, class: "radio-inline" %><%= form.radio_button :overlooking, :monument %>
  </div>

  <div class="field">
    <%= form.label :car_access %>
    <%= form.check_box :car_access %>
  </div>

  <div class="field">
    <%= form.label :free_access %>
    <%= form.check_box :free_access %>
  </div>

  <div class="field">
    <%= form.label :family_friendly %>
    <%= form.check_box :family_friendly %>
  </div>

  <div class="field">
    <%= form.label :serviced %>
    <%= form.check_box :serviced %>
  </div>

  <span class="images">
    <%= form.file_field :images, multiple: true %>
  </span>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
