<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <br>
      <h4 class="text-info">What kind of view are you looking for?</h4>
      <%= bootstrap_form_tag url: '/search', custom: true do |f| %>
        <%= f.form_group :city do %>
          <%= f.select :city, City.all, { label: "City:", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
        <% end %>
        <%= f.form_group :overlooking, label: { text: "Overlooking:" } do %>
          <% StunningView.overlookings.keys.map(&:camelcase).each do |o| %>
            <%= f.radio_button :overlooking, o, label: o, custom: true, inline: true %>
          <% end %>          
        <% end %>
        <%= f.form_group :car_access do %>
          <%= f.check_box :car_access, label: "Car Access", inline: true, custom: :switch %>
        <% end %>
        <%= f.form_group :free_access do %>
          <%= f.check_box :free_access, label: "Free Entry", inline: true, custom: :switch %>
        <% end %>
        <%= f.form_group :family_friendly, help: "Some Locations Are Louder & Busier Than Others." do %>
          <%= f.check_box :family_friendly, label: "Family Friendly", inline: true, custom: :switch %>
        <% end %>
        <%= f.form_group :serviced, help: "Gas, Food, & Emergency Services within 10 miles." do %>
          <%= f.check_box :serviced, label: "Serviced", inline: true, custom: :switch %>
        <% end %>
        <%= f.submit "Filter" %>
      <% end %>
      <br>
      <br>
    </div>
    <div class="col-sm-10">

      <% @stunning_views.each do |stunning_view| %>
        <!--<a href="<%= stunning_view_path(stunning_view) %>" class="panel mh-50">
          <img class="panel-img-top" src="<%= url_for(stunning_view.thumbnail) %>" alt="panel image cap">
          <div class="panel-body">
            <h3 class="panel-title"><%= stunning_view.title %></h5>
            <p class="panel-text text-truncate"><%= stunning_view.description %></p>
            <p class="panel-text"><small class="text-muted">Posted <%= distance_of_time_in_words(Time.now, stunning_view.created_at) %> ago</small></p>
          </div>
        </a>-->
        <a href="<%= stunning_view_path(stunning_view) %>">
          <div class="card card-default">
            <div class="card-img">
              <img src="<%= url_for(stunning_view.thumbnail) %>" class="card-img">
            </div>
            <div class="card-body">
              <h3><%= stunning_view.title %></h3>
              <p><%= stunning_view.description %></p>
              <small class="text-muted">Posted <%= distance_of_time_in_words(Time.now, stunning_view.created_at) %> ago</small>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
