<script>
  $(document).ready(function() {
    $('#sort').change(function() {
        $('#sort-form').submit();
    });
  });
</script>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <br>
      <% if params[:longitude].present? %>
        <h4 class="text-success"><strong><em>> Searching with your location.</em></strong> <%= link_to "Reset", stunning_views_path %></h4>
        <br>
      <% end %>
      <%= bootstrap_form_tag url: '/stunning_views', method: 'get', html: {id: 'sort-form'} do |f| %>
        <%= f.form_group :sort do %>
          <%= f.select :sort, [["Most Recent", "created_at"], ["Most Reviewed", "reviews_count"], ["Featured", "featured"]], label: "Sorting By:", selected: params[:sort] %>
        <% end %>
      <% end %>
      <br>
      <h4 class="text-info">What kind of view are you looking for?</h4>
      <%= bootstrap_form_tag url: '/search', method: 'get', custom: true do |f| %>
        <%= f.form_group :city_id do %>
          <%= f.collection_select :city_id, City.all, :id, :name, { label: "City:", wrapper: { class: 'has-warning' }, include_blank: 'Any', class: "selectpicker" } %>
        <% end %>
        <%= f.form_group :overlooking, label: { text: "Overlooking:" } do %>
          <% StunningView.overlookings.keys.map(&:camelcase).each.with_index do |o, index| %>
           <%= f.radio_button :overlooking, o.downcase, label: o, custom: true, inline: true %>
          <% end %>
        <% end %>
        <%= f.form_group :car_access do %>
          <%= f.check_box :car_access, {label: "Car Access", inline: true}, "true", "false" %>
        <% end %>
        <%= f.form_group :free_access do %>
          <%= f.check_box :free_access, {label: "Free Entry", inline: true}, "true", "false" %>
        <% end %>
        <%= f.form_group :family_friendly, help: "Some Locations Are Louder & Busier Than Others." do %>
          <%= f.check_box :family_friendly, {label: "Family Friendly", inline: true}, "true", "false" %>
        <% end %>
        <%= f.form_group :serviced, help: "Gas, Food, & Emergency Services Within 10 Miles." do %>
          <%= f.check_box :serviced, {label: "Serviced", inline: true}, "true", "false" %>
        <% end %>
        <%= f.submit "Search", name: nil %>
      <% end %>
      <br>
      <br>
    </div>
    <div class="col-sm-10 m-t-sm">
      <% if @stunning_views.length == 0 %>
        <div class="container text-center">
          <h4 class="text-muted m-t-xl">No Views Match Your Request.</h4>
        </div>
      <% else %>
        <% @stunning_views.each do |stunning_view| %>
          <a class="card-clickable"href="<%= stunning_view_path(stunning_view) %>">
            <div class="card card-default <%= stunning_view.featured? ? 'featured' : '' %>">
              <div class="card-img">
                <img src="<%= url_for(stunning_view.thumbnail) %>" class="card-img">
              </div>
              <% if stunning_view.featured? %>
                <div class="card-header">
                  <strong class="featured-text">FEATURED</strong>
                </div>
              <% end %>
              <div class="card-body" style="overflow: hidden; display: inline-block; white-space: nowrap; max-width: 100%;">
                <h3><strong><%= stunning_view.title %></strong></h3>
                <p class="text-muted" style="padding-left: 3px;"><%= "#{stunning_view.reviews_count} #{"Review".pluralize(stunning_view.reviews_count)}" %></p>
                <% if stunning_view.user.admin? || stunning_view.user.local_guide? %>
                  <p class="text-muted" style="padding-left: 3px;">Posted <%= distance_of_time_in_words(Time.now, stunning_view.created_at) %> ago by <strong><%= stunning_view.user.name %></strong> <span class="<%= stunning_view.user.admin? ? "site-mod site-mod-sm" : "local-guide local-guide-sm"  %>"><%= stunning_view.user.admin? ? "Side Moderator" : "Local Guide"  %></span></p>
                <% else %>
                  <p class="text-muted" style="padding-left: 3px;">Posted <%= distance_of_time_in_words(Time.now, stunning_view.created_at) %> ago by <strong><%= stunning_view.user.name %><strong></p>
                <% end %>
                <p style="padding-left: 3px; text-overflow: ellipsis; overflow: hidden; width: calc(100%); white-space: nowrap; display: inline-block;"><%= stunning_view.description %></p>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
