<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stunning_view.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stunning_view.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @stunning_view.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @stunning_view.longitude %>
</p>

<p>
  <strong>Car access:</strong>
  <%= @stunning_view.car_access %>
</p>

<p>
  <strong>Free access:</strong>
  <%= @stunning_view.free_access %>
</p>

<p>
  <strong>Serviced:</strong>
  <%= @stunning_view.serviced %>
</p>

<p>
  <strong>Family friendly:</strong>
  <%= @stunning_view.family_friendly %>
</p>

<p>
  <strong>Overlooking:</strong>
  <%= @stunning_view.overlooking %>
</p>

<p>
  <strong>City:</strong>
  <%= @stunning_view.city_id %>
</p>

<%= link_to 'Edit', edit_stunning_view_path(@stunning_view) %> |
<%= link_to 'Back', stunning_views_path %>
